.userLoser {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .user-argument {
    width: 80%;  /* Adjust width as needed */
    height: 150px;  /* Adjust height as needed */
    font-size: 16px;  /* Adjust font size as needed */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;  /* Prevents the textarea from being resizable */
  }
  
  button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  